/Makefile.BACKUP.16812
/Makefile.BASE.16812
/Makefile.Debug
/Makefile.LOCAL.16812
/Makefile.REMOTE.16812
/Makefile.Release
/Makefile.orig
/SS2MM.pro.user
/SS2MM.pro.user.7bfea71
/SS2MM.pro.user.8f3d86e
/cam_mod (copy).ini
/cam_mod.ini
/cam_mod.ini~
/main.o
/moc_ss2mm.cpp
/moc_ss2mm.o
/modlistmodel.o
/ss2mm.cpp.orig
/ss2mm.o
/ui_ss2mm.h
/SS2MM
/bin
/obj
/minizip
*.depend
*.layout
